{% extends "base.html" %}
{% load url from future %}
{% block content %}
<div id="intro">
    <h2 class="intro"><span>KDE Akademy</span><br/>Volunteering</h2>

    <p class="intro">This is a site that brings all the volunteers together.
    Find all the cool tasks that you are interested in.</p>

    <p id="xtra-info">Help us make this Akademy the best yet</p>
</div><!-- /intro-->

<ul class="features">
    <li><h3>FOSDEM</h3>
        <p><a href="https://akademy.kde.org/">Akademy</a> is the annual world summit of KDE, one of the largest Free Software communities in the world. It is a free, non-commercial event organized by the KDE Community.</p>
    </li>

    <li><h3>Location</h3>
        <p>Akademy 2018 will be held in Vienna, Austria, from Saturday 11th to Friday 17th August.</a>.</p>
    </li>

    <li><h3>Volunteering</h3>
        <p>Akademy needs you! Every year, the Akademy team is assisted by an enthusiastic team of volunteers
        to help out with various tasks and make the event a fun and safe place for all our attendees.</p>
    </li>
</ul>

<ul class="features">
    <li><h3>Mailing List</h3>
			<p>You can subscribe to receive updates from the <a href="https://mail.kde.org/mailman/listinfo/akademy-attendees">mailing list</a></p>
    </li>

    <li><h3>IRC</h3>
        <p>IRC is available in <a href="irc://chat.freenode.net/akademy">#akademy</a> (<a href="http://webchat.freenode.net/?channels=akademy">webchat</a>) on <a href="http://freenode.net/">freenode</a></p>
    </li>
</ul>
{% endblock %}
